html, body {
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
}

body {
  background: url('https://media.istockphoto.com/photos/star-field-at-night-picture-id501655522?b=1&k=20&m=501655522&s=170667a&w=0&h=yxV0H4RLzwn_roNsSxejPhL0JAQl7YGguAeL1PtniZw=') no-repeat center center fixed;
  background-size: cover;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  color: #f7b204;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1200px) {
  .App {
    padding-top: 25%;
  }
}